<div *ngIf="product">
    

        <div class="d-flex justify-content-center container mt-5">
            <div class="card p-3 bg-white">
                <div class="about-product text-center mt-2 mb-4">
                    <!-- <img [src]="" width="300"> -->

                    <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
                        <!-- Carousel indicators -->
                       
                        
                    
                        <div class="carousel-inner">
                            <div class="carousel-item active" *ngFor="let images of this.product.products_images">
                                <a>
                                    <img [src]='image(images.images)' style="align-self: center; width: 400px;" class="d-block w-100 d-flex justify-content-center" [alt]="product.name">
                                </a>
                            </div>
                        </div>
                
                        <!-- Carousel controls -->
                        <a class="carousel-control-prev" href="#myCarousel" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" style="background-color: grey;"></span>
                        </a>
                        <a class="carousel-control-next" href="#myCarousel" data-bs-slide="next">
                            <span class="carousel-control-next-icon" style="background-color: grey;"></span>
                        </a>

                    </div>

                </div>

                <form #updateform="ngForm" (ngSubmit)="updateProduct(updateform.value)">
                    <div class="input-group mt-2">


                        <div class="input-group mb-3">
                            <span class="input-group-text" id="basic-addon1">Name:</span>
                            <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" name="name"  [(ngModel)]="product.name" >
                        </div>

                        <div class="input-group mb-3">
                            <span class="input-group-text" id="basic-addon1">Description::</span>
                            <textarea class="form-control" aria-label="With textarea" name="desc" [(ngModel)]="product.desc" ></textarea>
                        </div>

                        <div class="input-group mb-3">
                            <span class="input-group-text" id="basic-addon1">Price:</span>
                            <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" name="price" [(ngModel)]="product.price" >
                        </div>
                       
                        <div class="input-group mb-3">
                            <span class="input-group-text" id="basic-addon1">Stock:</span>
                            <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" name="stock" [(ngModel)]="product.stock" >
                        </div>


                        <div class="input-group mb-3">

                            <div class="form-check form-check-inline" *ngFor="let subcateg of this.subcategories">
                                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="{{subcateg.id}}" value="{{subcateg.id}}">
                                <label class="form-check-label" for="{{subcateg.id}}">{{subcateg.name}}</label>
                            </div>


                        </div>

                        <div class="input-group mb-3">
                            <input type="file" class="form-control" id="inputGroupFile02" />
                            <label class="input-group-text" for="inputGroupFile02">Upload</label>
                          </div>


                        <button type="submit" class="btn btn-primary m-2">Update</button>
                        
                    </div>

                </form>

            </div>
        </div>

</div>