<section class="h-100 gradient-custom">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-lg-10 col-xl-8">
        <div class="card" style="border-radius: 10px;">
          <div class="card-header px-4 py-5" *ngIf="this.user">
            <h5 class="text-muted mb-0">Thanks for your Order, <span style="color: #21349c;" class="text-capitalize">{{this.user.first_name}} {{this.user.last_name}}</span>!</h5>
          </div>
          <div class="card-body p-4">
            <div class="d-flex justify-content-between align-items-center mb-4">
              <p class="lead fw-normal mb-0" style="color: #21349c;">Receipt</p>
            </div>

            <div *ngIf="this.order">
                <div>
                  <div class="card shadow-0 border mb-4" *ngFor="let item of this.order.order_items">

                      <div class="card-body">
                        <div class="row">
                          <div class="col-md-3">

                            <img [src]="this.getImages(item.product_id)" class="img-fluid">

                          </div>
                          <div class="col-md-4 text-center d-flex justify-content-center align-items-center">
                              <p class="text-muted mb-0">{{item.product.name}}</p>
                          </div>
                          <div class="col-md-2 text-center d-flex justify-content-center align-items-center">
                            <p class="text-muted mb-0 small">Qty: {{item.count}}</p>
                          </div>
                          <div class="col-md-3 text-center d-flex justify-content-center align-items-center">
                            <p class="text-muted mb-0 small">{{item.unitprice}}€</p>
                          </div>
                        </div>

                      </div>
                
                  </div>
                </div>
            </div>
            <div  *ngIf="this.order">
              <div class="d-flex justify-content-between pt-2">
                <p class="fw-bold mb-0">Order Details</p>
                <p class="text-muted mb-0"><span class="fw-bold me-4">Total</span>{{this.price()}}€</p>
              </div>

              <div class="d-flex justify-content-between pt-2">
                <p class="text-muted mb-0">Invoice Number : {{this.order.id}}</p>
                <p class="text-muted mb-0"><span class="fw-bold me-4">Discount</span> 0€</p>
              </div>

              <div class="d-flex justify-content-between">
                <p class="text-muted mb-0">Invoice Date : 22 Dec,2019 {{this.order.created_at}}</p>
                <p class="text-muted mb-0"><span class="fw-bold me-4">Iva 23%</span> {{this.totalTax()}}€</p>
              </div>

              <div class="d-flex justify-content-between mb-5">
                <p class="text-muted mb-0"></p>
                <p class="text-muted mb-0"><span class="fw-bold me-4">Delivery Charges</span> Free</p>
              </div>

            </div>
          </div>
          
          <div class="card-footer border-0 px-4 py-5"
            style="background-color: #21349c; border-bottom-left-radius: 10px; border-bottom-right-radius: 10px;">
            <h5 class="d-flex align-items-center justify-content-end text-white text-uppercase mb-0">Total
              paid: <span class="h2 mb-0 ms-2">{{this.totalPay()}}€</span></h5>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>