<div class="container-fluid">
    <div class="row d-flex align-items-center justify-content-center">
        <div class="col-lg-10 col-md-8 ml-auto">
            <div class="row align-items-center pt-md-2 mt-md-2 mb-5">
                <div class="col-12">
                       <div class="card">

                           <div class="card-title text-center mt-3">
                               <h3>Sub Category</h3>
                           </div>

                           <div class="card-body ms-2 me-2 mb-2">
                                <div class="row">
                                    <div class="col border border-secondary rounded">
                                        <h6>Category</h6>
                                        <select class="form-select" size="5" aria-label="Category" id="categories" (change)="onChange($event)">
                                            <option selected *ngFor="let cat of this.categories" [value]="cat.id" name="optionCategory">
                                                {{cat.name}}
                                            </option>
                                        </select>
                                    </div>
                                    
                                    <div class="col border border-secondary rounded  ms-2">
                                        <h6>Sub Category</h6>  

                                        <p *ngIf="!this.listSubCategory().length">Dont Have Sub Categories</p>  

                                        <select *ngIf="this.listSubCategory()?.length" class="form-select" size="5" aria-label="subCategory" id="subCategories">

                                                <option *ngFor="let subcat of this.listSubCategory(); let i = index" [value]="subcat.name" name="optionsubcategory" disabled>
                                                    {{subcat.name}}
                                                </option>
                            
                                        </select>
                                    </div>
                                </div>
                           </div>
                       </div>
                </div>
            </div>
        </div>
    </div>
</div>

