
<div>
    <div class="subcategory">
        <div class="row">
            <div class="button_back col-2">
                <a class="arrow" (click)="this.backToCategory()"><i class="fa fa-arrow-left" aria-hidden="true"></i></a>
            </div>
            <div class="col-10">
                <h6>{{this.categoryName()?.name}}</h6>
            </div>
        </div>


        <div *ngFor="let subcategory of this.subcategory()">
            <a class="subcategory_names" (click)="listSearchById(subcategory.id)">{{subcategory.name}}</a>
        </div>
    </div>
</div>
