<div class="container mt-5">


  <table class="table table-striped">
    <thead>
      <tr class="head" class="text-center">

        <th scope="col">Order ID</th>

        <th scope="col">Created</th>

        <th scope="col">Time</th>

        <th scope="col" >Quantity</th>

        <th scope="col">Total</th>

        <th scope="col">Paid</th>

      </tr>
    </thead>

    <tbody>

        <tr *ngFor="let order of this.orders" class="text-center">

          <th scope="row"><a (click)="this.orderDetails(order.id)" class="link-primary" style="text-decoration: none;">{{order.id}}</a></th>

          <td>{{order.created_at | date:'mediumDate'}}</td>

          <td>{{order.created_at | date:'shortTime'}} </td>

          <td>{{this.totalProducts()}}</td>

          <td> {{order.total}} €</td>

          <td>
            <button class="btn btn-danger btn-sm">No</button>
          </td>
          
        </tr>
        
    </tbody>

  </table>

</div>