
<div class="container">

    <div class="mb-4">
        <h4>Filter</h4>
    </div>


    <div class="accordion" id="accordion1">
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingOne">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                <div>
                    <h6> Stock </h6>
                </div>
                
                <hr>
            </button>
          </h2> 
          <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">
                
                <div class="mb-4">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">
                          Default checkbox
                        </label>
                      </div>
                </div>
            
            </div>
          </div>
        </div>


        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-headingTwo">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="true" aria-controls="flush-collapseTwo">
              
                <div>
                    <h6> Categorie</h6>
                </div>
        
                <hr>
        
            </button>
          </h2>
          <div id="collapseTwo" class="accordion-collapse collapse show" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample" >
            <div class="accordion-body">
                
                <div class="mb-4">
                    <div class="form-check">
                        <div *ngFor="let categorie of this.categories">
                            <input class="form-check-input" type="checkbox" value="" [id]="categorie.id" (change)="onchangeIdCategorie($event)">
                            <label class="form-check-label" for="flexCheckDefault">
                            {{categorie.name}}
                            </label>
                        </div>
                      </div>
                </div>
            
            </div>
          </div>
        </div>

        
        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-headingThree">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
             
                <div>
                    <h6> Price </h6>
                </div>
        
                <hr>

            </button>
          </h2>
          <div id="collapseThree" class="accordion-collapse collapse show" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample" >
            <div class="accordion-body w-100 text-center">
              <div class="mb-2 w-100">

                  <!-- <input type="range" class="form-range" multiple value="1, 2000" id="range" (change)="onchangePrice($event)"> -->
                
                <!-- multirange -->
                  <app-multirange></app-multirange>

                  <div class="row">
                      <div class="col-3 text-align-start">
                          <p class="text-left">0</p>
                      </div>
                      <div class="col-6">

                      </div>

                      <div class="col-3 text-align-end">
                          <p class="text-right">{{this.price}}</p>
                      </div>
                  </div>
              </div>




            </div>
          </div>
        </div>
      </div>

</div>

