<div class="container">

    <div class="mb-4">
        <h4>Filter</h4>
    </div>

    <div>
        <div>
            <h6> Stock </h6>
        </div>
        
        <hr>

        <div class="mb-4">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault">
                  Default checkbox
                </label>
              </div>
        </div>
        

    </div>

    <div>
        <div>
            <h6> Categorie</h6>
        </div>

        <hr>

        <div class="mb-4">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault">
                  Default checkbox
                </label>
              </div>
        </div>

    </div>

    <div>
        <div>
            <h6> Price </h6>
        </div>

        <hr>

        <div class="mb-4">
            <label for="customRange2" class="form-label">Example range</label>
            <input type="range" class="form-range" min="0" max="5" id="customRange2">

        </div>

    </div>
    

</div>