
<div class="container-lg my-3">

    <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
       
        <!-- Wrapper for carousel items -->
        <div class="carousel-inner content_image">

            <div class="carousel-item" *ngFor="let product of this.products; let i =index" [ngClass]="{'active':i===1}">
                <a (click)="this.requestInfoProduct(product.id)">
                    <img [src]='image(product.id)' class="d-block w-100 d-flex justify-content-center" [alt]="product.name">
                </a>
                <!-- <div class="carousel-caption d-none d-md-block">
                    <h5>{{product.name}}</h5>
                    <p>{{product.price}}€</p>
                </div> -->
            </div>
        </div>

        <!-- Carousel controls -->
            <a class="carousel-control-prev" href="#myCarousel" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" style="background-color: grey;"></span>
            </a>
            <a class="carousel-control-next" href="#myCarousel" data-bs-slide="next">
                <span class="carousel-control-next-icon" style="background-color: grey;"></span>
            </a> 
    </div>








</div>
